@page
@model SparkAutoRazor.Areas.Identity.Pages.Account.VerifyEmailModel
@{
}


<h1>Confirm Email Address</h1>
<div>
    <p>
        Confirm your email before proceeding!
        
        If you haven't received any email please check your Spam folder.
    </p>

</div>